<main>
    <section class="char_container">
        <div class="char_container_list accent_border">
            <h2>Favoritos</h2>
            <ul class="char_list fav_list" id="favorite-character">
            </ul>
            <button class="js_clear_fav">Eliminar favoritos</button>
        </div>
        <div class="char_container_list">
            <h2>Personajes</h2>
            <ul class="char_list all_list" id="all-character">
            </ul>
        </div>









    </section>

</main>