@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

.char_list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style-type: none;
    li {
        text-align: center;
    }
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        
    }
}